
@import 'variables';

.body{
    
    background: url(../imagenes/background.png) center center/cover no-repeat;
}   

/* imagen pagina principal */

.imagen {
  width: 100%;
  height: 35rem;
  margin: 20px;
}


.articulos{
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        flex-direction: row;
    
        /* estilos */
       margin-bottom: 30%;
       
    

&__card {

    display: inline-flex;

    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

    /* estilos */

    margin-top: 9rem;
    margin-bottom: 3rem;
    margin-left: 5.5rem;
    margin-right: 3rem;
    color: $colorcontent;
    padding: 2rem;
    width: 20rem;
    height: 30rem;
    

    border-radius: 1rem;
    background-color: $colorencabezados;
    overflow: hidden;
    box-shadow: 1vw 1vw 1vw 1vw;
    transition: transform 0.3s;


}

&__card:hover {

           transform: translateY(-10px);

}

/* estilos*/
&__card--img{

    width: 5rem;
    height: 5rem;
    overflow: hidden;
    
}

&__card--title{
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;

}

&__card--informacion{
    font-size:  1.5rem;
    text-align: center;
    line-height: 1.5;

}


  
}


/* nosotros */

.carousel{

    padding: 1rem ;
}
.contenido{

    display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;
    &__title{
        
       /* estilos */
        padding-top: 5rem;
        padding-bottom: 2rem;
        font-size: 4rem;
       
    
    }
    
    &__parrafo{

          /* estilos */
        font-size: 2rem;
        padding: 0rem 7rem 2rem 7rem;
    
    
    }
    
    

}


/* especialidades */

.encabezado_base {

      display: flex;
      justify-content: center;
      margin: 4rem;
      font-size: $fuenteencabezados;
      background-color: $colorencabezados;


}

.encabezado{

@extend .encabezado_base;


}

.especialidades{

    &__lista {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: $colornavbar;
        font-size: 1.5rem;
      
    }

    &__info{
  
        background-color: $colornavbar;
    
    &__titulo{
    
        font-size: 3rem;
    }
    
    &__p{
    
        font-size: 2rem;
    }
    
    
    }
    
    
    
 
}




/* contacto*/

.encabezado{

     @extend .encabezado_base;

}

/* formulario */

.formulario__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   background-color: $colornavbar;
    margin: 5rem 3rem;
    margin-bottom: 20rem;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    

   
  
  &__grid--item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /* estilos */
    width: 100%;
    
  }
  

  &--button {
    /* estilos */
    
    background-color: transparent;
    border: 1px outset  #8c8b8b;
    color: $colorcontent;
    border-radius: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    transition: all 0.5s;
 
  }
  

  &--button:hover  {


    box-shadow: 0px 0px 5px  $colornavbarhover, 0px 0px 15px $colornavbarhover,0px 0px 25px $colornavbarhover;
    color: $colornavbarhover;
    

  }



}


/* horarios */

.horarios{
    display: grid;
    text-align: center;

    &__titulo {

        font-size: 2.5rem ;
    }


    &__parrafo{
      
       
        font-size: 2rem;
        
        
    }


}
