.header {

    background-color: #78c1c9;
}

 .navbar__content{
 
     color: #363636;
     color: 0.5s;
 }
 
 
 .navbar__content:hover {
 
     color: #fcd498;
 }
 .navbar__option{
 
 background-color: #78c1c9;
 
 
 }
 .navbar__content-item{
 
     transition: color 0.3s;
 
 }
 
 .navbar__content-item:hover{
 
     color: #f19e21;
 }
 