

.img-thumbnail{
    
    width: 100%;
    height: 530px;
}

.foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 50px ; 
    padding: 20px 20px;
    margin-top: 50px;

    
}

.foot__logo{

    font-size: 8rem;
}

.foot li p {


font-size: 1.5rem;
}

.foot i {


    font-size: 2rem;
}


@media screen and (max-width: 1200px) {
    
    /* header*/
    .header{

        width: 100%;
    }
    .header__title{

        font-size: 4rem;
    }

    /* navbar*/
    .content__navbar{

        font-size: 2rem;
    }
    /* imagen pagina principal*/

    .imagen{

        height: 13rem;
    }
    
    /* tajetas*/

    .articulos{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
   
    }


  
    /* nosotros */ 

    .title__h1{
     
        padding-top: 2rem;
    }
    }

/* especialidades */

.especialidades__lista{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4. 1fr);
    justify-items: stretch;
}


@media screen and (max-width: 880px) {
   
     /* header*/
    .header__title{

        font-size: 4rem;
    }

    /*navbar*/
    .content__navbar{

        font-size: 2rem;
    }
/* imagen pagina principal*/

    .imagen{

        height: 13rem;
    }

    
/* tarjetas*/

    .articulos{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
   
    }

    /* nosotros */
    .parrafo__texto {

        padding-top: 1rem;
    }


    /* contacto */
    .formulario__grid{
       display: grid;
       grid-template-columns: 1fr ;
       justify-items: center;
       margin-bottom: 10rem;
    
        
    }

    .horarios{
        padding: 2rem 6rem 2rem 6rem;
        font-size: 3rem;
    }
    .horarios__parrafo{

        font-size: 2rem;
    }

    /* especialidades */

    .especialidades__lista{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4. 1fr);
        justify-items: stretch;
    }
    
}


@media screen and (max-width: 480px) {
    

    /* header*/

     .header{

        width: 100%;
     }


    /* imagen pagina principal */


    .imagen{

        display: none;
    }

    /* tarjetas */
    .articulos{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    
    }


    /* contacto */

    .formulario__grid{
        display: grid;
        grid-template-rows: 1fr ;
    

         
     }
     .horarios{
         padding: 2rem 6rem 2rem 6rem;
         font-size: 1.5rem;
     }
     .horarios__parrafo{
 
         font-size: 1.5rem;
     }
   
      /* especialidades */

     .especialidades__lista{

        display: grid;
        grid-template-columns: 1fr;
        font-size: 1rem;
     }
     .especialidades__horarios{
        font-size: 1rem;
     }


      
      /* nosotros */
   
      .title__h1{
        
        font-size: 2rem;
        padding-top: 2rem;
    }

     .imagen__nosotros{

        height: 50vw;
     }
     .parrafo__crianza{
        display: flex;
        flex-direction: column;
        align-content: center;
        /* estilos */
        padding: 0rem 2rem 1rem 2rem;
        font-size: 1.5rem;
     }
        /* footer */

    .foot {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 50px ; 
        padding: 5px 5px;
        margin-top: 20px;
        width: 100%;
        

    }


    .foot__logo{

        font-size: 4rem;
    }
    
    .foot li p {
    
    
    font-size: 1rem;
    }
    
    .foot i {
    
    
        font-size: 1.5rem;
    }
    
}



@media screen and (max-width: 430px) {

    /* header */

    .header{
      width: 100%;
    }  
    .header__title{
  
      font-size: 2rem;
    }

    /* navbar */
    .content__navbar{
      font-size: 1rem;
  
      
    }

    /* tarjetas */

    .card{
      
      width: 15rem;
      height: 30rem;
      
  
    }

    .card__title{
      font-size: 2rem;
    }
    .card__informacion{
      font-size: 20px;
    }
  
    /* contacto */
    
    .formulario__grid{
      display: grid;
      grid-template-rows: 1fr ;
      gap: 4rem;
   }
     
   .form--lebel{
      width: 100%;
      text-align: left;
    
  

    }

   .horarios{
      display: grid;
      justify-items: stretch;
       padding: 0%;;
       margin:0%
      
   }


   /* nosotros */
   .parrafo__crianza{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* estilos */
    padding: 0rem 2rem 1rem 2rem;
    font-size: 1.5rem;
   }
    /* footer */
    .foot {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 50px ; 
        padding: 20px 20px;
        margin-top: 50px;
        width: 100%;
        
    }
    
    }
    


@media screen and (max-width: 330px) {
 
 /* header */
 
    .header{
    width: 100%;
  }  
  .header__title{

    font-size: 2rem;
  }

  /* navbar */
  .content__navbar{
    font-size: 1rem;

    
  }

  /* tarjetas */
  .card{


    width: 15rem;
    height: 30rem;
     margin-right: 5rem;
     align-content: center;
  }

  .card__title{
    font-size: 2rem;
  }
  .card__informacion{
    font-size: 20px;
  }
    /* contacto */
  
  .formulario__grid{
    display: grid;
    grid-template-rows: 1fr ;
   
   
     gap: 3rem;
     
 }
   
 .form--lebel{
    width: 100%;
    text-align: left;
    font-size: 1rem;

    /* estilos */
    
    font-size: 1rem;
  }
  .form--button{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    
  }
  .form__text{

    font-size: 1rem;
  }
 .horarios{
    display: grid;
    justify-items: stretch;
     padding: 0%;;
     margin:0%;
     font-size: 1.5rem;
    
 }
 .horarios__parrafo{

     font-size: 1rem;
 }


 /* especialidades */

 .especialidades__img{
    display: none;
 }
 .especialidades__lista {

    padding: 1px;
 }

 /* nosotros */


 .title__h1{

    font-size: 1.5rem;
    padding-bottom: 0rem;
 }
 .parrafo__crianza{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* estilos */
    padding: 0rem 2rem 1rem 2rem;
    font-size: 1rem;
    
 }

 /* footer */
 .foot {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 50px ; 
    padding: 20px 20px;
    margin-top: 50px;
    width: 100%;
    
}

  }
  



    

