*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* caracteristicas generales */

.body{

    font-family: 'Amatic SC', cursive;
    background: #fff url(../imagenes/—Pngtree—memphis\ pattern\ background\ in\ pastel_1167512.png) center center/cover no-repeat;
}

.bg-color{


   background-color: #78c1c9;
    
  
}
.bg-footer {

background-color:  #78c1c9;

}
.bg-color a{

    color: #363636;
}

.nav-link{

    color: 0.5s;
}

.nav-link:hover {

    color: #fcd498;
}
.dropdown-menu{

background-color: #78c1c9;


}
.dropdown-item{

    transition: color 0.3s;

}

.dropdown-item:hover{

    color: #f19e21;
}

.img-thumbnail{
    
    width: 100%;
    height: 530px;
}

/* pagina principal */

.imagen{

    height:30rem;
    width: 100%;
}

.articulos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    flex-direction: row;

    /* estilos */

    margin: auto;
   margin-bottom: 30%;
   

  
}
.card {

    display: inline-flex;

    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

    /* estilos */

    margin-top: 9rem;
    margin-bottom: 3rem;
    margin-left: 5.5rem;
    margin-right: 3rem;
    color: #363636;
    padding: 2rem;
    width: 20rem;
    height: 30rem;
    

    border-radius: 1rem;
    background-color: #fbfbfb;
    overflow: hidden;
    box-shadow: 1vw 1vw 1vw 1vw;
    transition: transform 0.3s;


}

.card:hover {

           transform: translateY(-10px);

}

/* estilos*/
.card__img{

    width: 5rem;
    height: 5rem;
    overflow: hidden;
    
}

.card__title{
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;

}

.card__informacion{
    font-size:  1.5rem;
    text-align: center;
}



p{
    line-height: 1.5;
}

/* nosotros */

.carousel{

    padding: 1rem ;
}
.parrafo__texto{

    padding: 0%;
}
.title__h1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   /* estilos */
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 4rem;
   

}

.parrafo__crianza{
    display: flex-box;
    flex-direction: column;
    align-content: center;
    font-size: 2rem;
    /* estilos */
    padding: 0rem 7rem 7rem 7rem;
    margin-bottom: 20%;
}



/* especialidades */


.especialidades__lista {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      background-color: #78c1c9;
      font-size: 1.5rem;
    
      

}
.especialidades__horarios {

    background-color: #78c1c9;
    font-size: 2rem;
}

 .horarios__especialidades{

    display: flex;
    justify-content: center;


}

/* contacto*/

/* formulario */

.formulario__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   background-color: #78c1c9;
    margin: 5rem 3rem;
    margin-bottom: 20rem;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}


  
  .form__div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /* estilos */
    width: 100%;
  }
  
 
 .form--lebel{
    width: 100%;
    text-align: left;

    /* estilos */
    color: black;
    font-size: 1.5rem;
  }
  
  .form__text{

    font-size: 1.5rem;
  }
  .form--button {
    /* estilos */
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid  #909090;
    color: black;
    border-radius: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    transition: color 0.5s;
  }
  

  .form--button:hover {
    /* estilos */
    box-shadow: 0px 0px 5px  #fcd498, 0px 0px 15px  #fcd498,0px 0px 25px #fcd498;
    color: #fcd498;
    

  }

/* horarios */

.horarios{
    display: grid;
    grid-template-columns: 1 fr;
    /* estilos */
    padding-bottom: 2rem;
    text-align: center;
    background-color: #78c1c9;
    justify-items: center;
    align-items: stretch;
    align-content: center;
    border-radius: 1rem;
    
}
.horarios__parrafo{

    display: grid;
    /* estilos */
    text-align: center;
    background-color: #78c1c9;
    
    
}
.foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 50px ; 
    padding: 20px 20px;
    margin-top: 50px;

    
}

.foot__logo{

    font-size: 8rem;
}

.foot li p {


font-size: 1.5rem;
}

.foot i {


    font-size: 2rem;
}


@media screen and (max-width: 1200px) {
    
    /* header*/
    .header{

        width: 100%;
    }
    .header__title{

        font-size: 4rem;
    }

    /* navbar*/
    .content__navbar{

        font-size: 2rem;
    }
    /* imagen pagina principal*/

    .imagen{

        height: 13rem;
    }
    
    /* tajetas*/

    .articulos{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
   
    }


  
    /* nosotros */ 

    .title__h1{
     
        padding-top: 2rem;
    }
    }

/* especialidades */

.especialidades__lista{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4. 1fr);
    justify-items: stretch;
}


@media screen and (max-width: 880px) {
   
     /* header*/
    .header__title{

        font-size: 4rem;
    }

    /*navbar*/
    .content__navbar{

        font-size: 2rem;
    }
/* imagen pagina principal*/

    .imagen{

        height: 13rem;
    }

    
/* tarjetas*/

    .articulos{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
   
    }

    /* nosotros */
    .parrafo__texto {

        padding-top: 1rem;
    }


    /* contacto */
    .formulario__grid{
       display: grid;
       grid-template-columns: 1fr ;
       justify-items: center;
       margin-bottom: 10rem;
    
        
    }

    .horarios{
        padding: 2rem 6rem 2rem 6rem;
        font-size: 3rem;
    }
    .horarios__parrafo{

        font-size: 2rem;
    }

    /* especialidades */

    .especialidades__lista{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4. 1fr);
        justify-items: stretch;
    }
    
}


@media screen and (max-width: 480px) {
    

    /* header*/

     .header{

        width: 100%;
     }


    /* imagen pagina principal */


    .imagen{

        display: none;
    }

    /* tarjetas */
    .articulos{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    
    }


    /* contacto */

    .formulario__grid{
        display: grid;
        grid-template-rows: 1fr ;
    

         
     }
     .horarios{
         padding: 2rem 6rem 2rem 6rem;
         font-size: 1.5rem;
     }
     .horarios__parrafo{
 
         font-size: 1.5rem;
     }
   
      /* especialidades */

     .especialidades__lista{

        display: grid;
        grid-template-columns: 1fr;
        font-size: 1rem;
     }
     .especialidades__horarios{
        font-size: 1rem;
     }


      
      /* nosotros */
   
      .title__h1{
        
        font-size: 2rem;
        padding-top: 2rem;
    }

     .imagen__nosotros{

        height: 50vw;
     }
     .parrafo__crianza{
        display: flex;
        flex-direction: column;
        align-content: center;
        /* estilos */
        padding: 0rem 2rem 1rem 2rem;
        font-size: 1.5rem;
     }
        /* footer */

    .foot {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 50px ; 
        padding: 5px 5px;
        margin-top: 20px;
        width: 100%;
        

    }


    .foot__logo{

        font-size: 4rem;
    }
    
    .foot li p {
    
    
    font-size: 1rem;
    }
    
    .foot i {
    
    
        font-size: 1.5rem;
    }
    
}



@media screen and (max-width: 430px) {

    /* header */

    .header{
      width: 100%;
    }  
    .header__title{
  
      font-size: 2rem;
    }

    /* navbar */
    .content__navbar{
      font-size: 1rem;
  
      
    }

    /* tarjetas */

    .card{
  
      width: 15rem;
      height: 30rem;
  
  
    }

    .card__title{
      font-size: 2rem;
    }
    .card__informacion{
      font-size: 1.5rem;
    }
  
    /* contacto */
    
    .formulario__grid{
      display: grid;
      grid-template-rows: 1fr ;
      gap: 4rem;
   }
     
   .form--lebel{
      width: 100%;
      text-align: left;
    
  

    }

   .horarios{
      display: grid;
      justify-items: stretch;
       padding: 0%;;
       margin:0%
      
   }


   /* nosotros */
   .parrafo__crianza{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* estilos */
    padding: 0rem 2rem 1rem 2rem;
    font-size: 1.5rem;
   }
    /* footer */
    .foot {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 50px ; 
        padding: 20px 20px;
        margin-top: 50px;
        width: 100%;
        
    }
    
    }
    


@media screen and (max-width: 330px) {
 
 /* header */
 
    .header{
    width: 100%;
  }  
  .header__title{

    font-size: 2rem;
  }

  /* navbar */
  .content__navbar{
    font-size: 1rem;

    
  }

  /* tarjetas */
  .card{

    width: 15rem;
    height: 30rem;


  }

  .card__title{
    font-size: 2rem;
  }
  .card__informacion{
    font-size: 1.5rem;
  }
    /* contacto */
  
  .formulario__grid{
    display: grid;
    grid-template-rows: 1fr ;
   
   
     gap: 3rem;
     
 }
   
 .form--lebel{
    width: 100%;
    text-align: left;
    font-size: 1rem;

    /* estilos */
    
    font-size: 1rem;
  }
  .form--button{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    
  }
  .form__text{

    font-size: 1rem;
  }
 .horarios{
    display: grid;
    justify-items: stretch;
     padding: 0%;;
     margin:0%;
     font-size: 1.5rem;
    
 }
 .horarios__parrafo{

     font-size: 1rem;
 }


 /* especialidades */

 .especialidades__img{
    display: none;
 }
 .especialidades__lista {

    padding: 1px;
 }

 /* nosotros */


 .title__h1{

    font-size: 1.5rem;
    padding-bottom: 0rem;
 }
 .parrafo__crianza{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* estilos */
    padding: 0rem 2rem 1rem 2rem;
    font-size: 1rem;
    
 }

 /* footer */
 .foot {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 50px ; 
    padding: 20px 20px;
    margin-top: 50px;
    width: 100%;
    
}

  }
  



    

