<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crianza centro medico</title> 

    <link rel="icon" type="image/x-icon" href="../imagenes/logo.jpeg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet"/>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>
   
  
  
  
  <!--MIS ESTILOS-->
   <link rel="stylesheet" href="../css/style.css"/>

   <meta name="description" content="CRIANZA Centro medico. Somos un equipo interdiciplinario, motivados por el bienestar de nuestra comunidad."/>



</head>
<!--body-->

<body class="body">
  <header class="header">
  
      
      <!--navbar boot-->
      <nav class="navbar navbar-expand-md fs-4">
        <div class="container">
          <a class="navbar__content navbar-brand fs-1" href="../index.html">CR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="navbar__content nav-link" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="navbar__content nav-link" href="./contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="navbar__content nav-link" href="https://wa.me/5411" target="_blank">Turnos</a>
              </li>
              <li class="nav-item">
                <a class="navbar__content nav-link" aria-current="page" href="./nosotros.html">Nosotros</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  </header>

    <main>
     
    <!--Encabezado-->

    <h1 class="encabezado">Nuestras especialidades</h1>

    <!--especialidades-->

     <section class="especialidades">
     <section class="especialidades__lista  p-5 my-5 container text-center">
    <ul class=" list-group list-group">
      <li class="especialidades__content list-group-item">Clinica pediátrica</li>
      <li class="especialidades__content list-group-item">Traumatología</li>
      <li class="especialidades__content list-group-item">Dermatología</li>
      <li class="especialidades__content list-group-item">Psicologia infantil</li>
    </ul>
    <ul class="list-group list-group">
      <li class="especialidades__content list-group-item">Kinesiología</li>
      <li class="especialidades__content list-group-item">Kinesiología respiratoria</li>
      <li class="especialidades__content list-group-item">Estimulacion temprana</li>
      <li class="especialidades__content list-group-item">Fonoudiología</li>
    </ul>
    <ul class="list-group list-group">
      <li class="especialidades__content list-group-item">Nemonología</li>
      <li class="especialidades__content list-group-item">Cardiología infantil</li>
      <li class="especialidades__content list-group-item">Nutrición</li>
      <li class="especialidades__content list-group-item">Terapia ocupacional</li>
    </ul>
    <ul class="list-group list-group">
      <li class="especialidades__content list-group-item">Laboratorio</li>
      <li class="especialidades__content list-group-item">Radiografías</li>
      <li class="especialidades__content list-group-item">Tomografia computada</li>
      <li class="especialidades__content list-group-item">BERA</li>
    </ul>
 
  </section>

<!--informacion-->

<section class="especialidades__info p-5   text-center container">
     
      <h2 class="especialidades__titulo"> Horarios de atención.</h2> 
      <p class="especialidades__p" >
        Lunes a viernes 
        de 8 hs a 21 hs<br>
        Sabados y feriados 
        de 10 hs a 14 hs 
      </p>

</section>
</section>
    </main>
<!--footer-->


<footer class="foot bg-color">
     
  <div>

   <a class="foot__logo navbar-brand" href="../index.html">CR</a>

  </div>

  <div class="foot__info">

   <ul>
    
     <li> 
       <p>Turnos: 261789005</p>

     </li>
     <li>
    
       <p>Consultas: 2616544389</p>

     </li>
     <li>

       <p> Lamadrid 3158 - Barrio SUPE - Godoy Cruz - Mendoza</p>

     </li>
   </ul>
   </div>
   <div class="foot__rrss">
            
    <a href="https://es-la.facebook.com/">
    <i class="bi bi-facebook text-dark"></i> 
    </a>


    <a href="https://www.instagram.com/">

    <i class="bi bi-instagram text-dark"></i>
  </a>

    
  </div>

  
   <!--whatsapp-->

   <div class="position-fixed bottom-0 end-0 mb-5 me-4">

    <img src="https://cdn.iconscout.com/icon/free/png-512/whatsapp-circle-1868968-1583132.png" alt="whatsapp" width="60" height="60">


  </div>
  





  

</footer>


</body>
</html>