<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crianza centro medico</title>
    <link rel="icon" type="image/x-icon" href="../imagenes/seguro-de-salud.png">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://wa.me/5411">
   
</head>

<!--body-->

<body class="body" >
    <header class="header">
   
        <!--titulo-->

        <h1 class="header__title">Turnos</h1>
        
        <!--navbar-->

        <nav class="content__navbar">
            <ul>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
                <li>
                    <a href="./especialidades.html">Especialidades</a>
                </li>
    
                <li>
                    <a href="./nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a href="../index.html">Página principal</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--footer-->

<footer class="footer">

    <ul class="link__foot">
      <li>
        <a><link rel="icon"><img src="../imagenes/ubicacion.png" alt="ubicacion" width="25" height="25">
        <a class="foot__ubicacion"
      href="https://www.google.com/maps/place/Lamadrid+3312,+Godoy+Cruz,+Mendoza/@-32.9035983,-68.8869501,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09c71d2d676f:0x61890e6680a14cde!8m2!3d-32.903598!4d-68.884761">
      Lamadrid 3312. B°SUPE.</a>
      </li>
      <li>
        <a class="icono__foot" href="https://www.instagram.com/"> <img src="../imagenes/instagram (2).png" alt="instagram" width="20"
          height="20"></a>
      </li>
      <li>
        <a class="icono__foot" href="https://www.whatsapp.com/?lang=es"> <img src="../imagenes/whatsapp (1).png" alt="whatsapp"
          width="25" height="25"></a>
      </li>
    </ul>
    
  </footer>

</body>
</html>